// デザイン全体に影響を与えるような重要な値は、このモジュールの中で定義しておく。後々根本的な修正が入ったときに効率よく修正作業が進められるようにするため。
$cWhite: white;
$cBlack: black;
$cSubTitle: #535353;
$cBgGray: #eaebe6;
$cWineRed: #904669;
$contentMaxWidth: 1070px;
$navHeight: 100px;